// COLORS
$white: #fff;

$ink-darkest: #051f36;
$ink-dark: #123b5e;
$ink-mid: #4e697f;
$ink-light: #97a6b4;
$ink-lightest: #d2d8de;

$insurer: #6ed468;
$insurer-active: #06ce40;
$insurer-light: #abe6a7;

$consumer: #35a9ff;
$consumer-active: #0087ff;
$consumer-light: #6dc0ff;

// TYPE SIZES
$ts-base: 16px;

$ts-massive: (64 / 16 * 1rem);
$ts-largest: (34 / 16 * 1rem);
$ts-large: (24 / 16 * 1rem);
$ts-regular: 1rem;
$ts-small: (12 / 16 * 1rem);

// LINE HEIGHTS
$lh-body: 1.4;
$lh-headline: 1.2;

// BORDER RADIUS
$br-default: 2px;