@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.illustration-container {
  width: 9rem;
  height: 13rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  background-image: url('/assets/icon-policy.svg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.illustration {
  width: 9rem;
  height: 11rem;
  animation-name: bounceInDown;
  transform-origin: center bottom;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-delay: .2s;

  &.new {
    background-image: url('/assets/icon-new.svg');
  }

  &.claim {
    background-image: url('/assets/icon-claim.svg');
  }

  &.cancel {
    background-image: url('/assets/icon-cancel.svg');
  }
}