html,
body {
  margin: 0;
  padding: 0;
}

.app-body,
.app-footer-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 840px;

  @media (min-width: 740px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media (min-width: 1200px) {
    max-width: 1020px;
  }
}

.app-body {
  margin-top: 4rem;
}