html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $ts-regular;
  font-weight: 400;
  font-size: $ts-base;
  line-height: $lh-body;
  color: $ink-darkest;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 740px) {
    font-size: 12px;
  }

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  font-size: $ts-massive;
  color: $ink-dark;
  font-weight: 900;
  line-height: $lh-headline;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: $lh-headline;
}

h2, h3 {
  font-size: $ts-largest;
}

h4, h5, h6 {
  font-size: $ts-large;
}

p,
span,
ul {
  font-size: $ts-regular;
}

a {
  color: $ink-darkest;
  font-weight: 600;
  transition: color .25s ease-in-out;
}

.secondary-text {
  color: $ink-mid;
  font-weight: 200;
}

.small-text {
  font-size: $ts-small;
}